* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: ProximaNova;
    box-sizing: border-box;

}
button:focus {
    outline: none;
}
input:focus {
    outline: none;
}