.homeBackground {
    background-color: black;
}
.homeContainer {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.homeContainer__left {
    position: relative;
    width: 25vw;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    color: silver;
    overflow: hidden;
}
.homeContainer__leftHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 85px;
}
#x {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 3;
    top: 5px;
    right: 5px;
    padding: 5px;
    border: 1px solid silver;
}
#x:hover {
    color: red;
    border-color: red;
}
.homeContainer__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 10px;
    font-size: 1.25rem;
    border-bottom: 2px solid red;
}
.homeContainer__labels {
    margin: 25px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.25rem;
    padding: 5px 0;
    box-shadow: inset 0 0 28px 8px rgba(255, 0, 0, 0.6);
}
.homeContainer__lables > h2 {
    font-size: 1.5rem;
}

.homeContainer__right {
    width: 75vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 65px auto;
    overflow: hidden;
}
#username {
    align-self: center;
    font-size: 2rem;
    letter-spacing: 0.05rem;
}
#logout {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    grid-column-start: 3;
    margin: 5px 5px auto auto;
    min-width: 115px;
}
#modalButton {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
#userDes {
    overflow: hidden;
    max-height: 220px;
    padding: 10px;
    overflow-y: auto;
}
.chat {
    width: 100%;
    height: 100%;
    min-height: 120px;
    overflow-y: auto;
}
#chatMessage {
    margin-top: 10px;
    padding: 10px;
}
#chatLable {
    text-align: center;
    font-size: 1.25rem;
    border-bottom: 2px solid red;
}
#sendMesageButton {
    background-color: transparent;
    margin-top: 5px;
    cursor: pointer;
    color: red;
}
.chatInput {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.chatInput > input {
    width: 100%;
    background-color: silver;
    color: black;
    padding: 5px;
    cursor: text;
}
.homeContainer__feed {
    grid-column-start: 2;
    text-align: center;
    margin: auto auto;
    box-shadow: inset 0 0 28px 15px rgba(0, 0, 255, 0.6);
    border-radius: 15px;
    color: silver;
    padding: 25px;
}
.homeContainer__feedButtons {
   display: flex;
   justify-content: space-around;
}
#maybeLater, #letsPlay {
    color: red;
    background-color:  rgba(0, 0, 255, .3);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 20px;
}
#feedDes {
    margin: 15px auto;
    max-width: 275px;
    max-height: 400px;
    letter-spacing: 1.25px;
    padding: 5px;
    overflow: hidden;
    overflow-y: auto;
}
#nowPlaying, #platform {
    margin-bottom:15px;
}
#feedUsername {
    margin-bottom: 15px;
    border-bottom: 1px solid blue;
    font-size: 2rem;
}
.homeContainer__feed > h2 {
    font-size: 1.5rem;
}
.homeContainer__inputLabel {
    text-align: center;
    margin-top: 15px;
}
.homeContainer__profileInputfeild {
    cursor: text;
    margin:5px 5px 0;
    width: 97%;
    background-color: silver;
    padding: 5px;
    text-align: center;
}
.homeContainer__edit {
    cursor: pointer;
}
.homeContainer__edit:hover {
    color: red;
    border-color: red;
}
#emptyFeed {
    font-size: 2rem;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(173, 173, 173); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(117, 117, 117);; 
}
.links {
    min-width: 385px;
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .homeContainer__left {
        display: none;
        height: 100vh;
        width: 100vw;
    }
    #x {
        display: block;
    }
    .homeContainer__right {
        width: 100vw;
    }
    #modalButton {
        display: block;
    }
}
