.loginBackground {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}
.loginContainer {
    position: relative;
    padding: 50px;
    margin: 0 auto;
    top:30%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    min-width: 185px;
    background-color: black;
    border-radius: 10px;
    color: silver;
    animation: animate 5s linear infinite;
}
.loginContainer__form {
    display: flex;
    flex-direction: column;
    
}
.loginContainer__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
    margin: 1rem;
}
.loginContainer__formLable {
    margin-left: 1rem;
}
.loginContainer__formInput{
    margin: .50rem 1rem .75rem;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    background-color: silver;
    border: none;
}
#signIn {
    margin: 1rem;
    height: 2.5rem;
    background-color: silver;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#signIn:hover {
    background-color: lime;
}
#registerButton {
    border-radius: 25px;
    border: 2px solid lime;
    color: silver;
    padding: 10px 14px;
    background: none;
    cursor: pointer;
}
#registerButton:hover {
    background-color: lime;
    color: black;
}
@keyframes animate {
    0% {
        background-color: rgba(0, 255, 0, .3);
        box-shadow: 0 0 28px 50px rgba(0, 255, 0, .3);
        filter: hue-rotate(0deg); 
    }
    20% {
        background-color: rgba(0, 255, 0, .3);
        box-shadow:  0 0 28px 40px rgba(0, 255, 0, .3);
    }
    40% {
        background-color: rgba(0, 255, 0, .3);
        box-shadow:  0 0 28px 28px rgba(0, 255, 0, .3);
    }
    60% {
        background-color: rgba(0, 255, 0, .3);
        box-shadow:  0 0 28px 60px rgba(0, 255, 0, .3);
    }
    80% {
        background-color: rgba(0, 255, 0, .3);
        box-shadow:  0 0 28px 80px rgba(0, 255, 0, .3);
    }
    100% {
        background-color: rgba(0, 255, 0, .3);
        box-shadow: 0 0 28px 50px rgba(0, 255, 0, .3);
        filter: hue-rotate(360deg); 
    }
}

